# Translation Provider: 'openai', 'amazonbedrock', 'huggingface', or 'mock' for development
NEXT_PUBLIC_TRANSLATION_PROVIDER=openai
NEXT_PUBLIC_ENABLE_REAL_TRANSLATION=true

# This is a switch to enable or disable the use of mock images
NEXT_PUBLIC_USE_MOCK_IMAGES=true

# Base URL for API calls from server components
NEXT_PUBLIC_API_URL=http://localhost:3000

# Amazon Bedrock Model
NEXT_PUBLIC_BEDROCK_MODEL=ModelNameHere

# OpenAI Configuration
OPENAI_API_KEY=openai-key-here

# AWS Bedrock Configuration
AWS_REGION=your-region-here
AWS_ACCESS_KEY_ID=your-access-key-id-here
AWS_SECRET_ACCESS_KEY=your-secret-access-key-here

# Hugging Face Configuration
HUGGINGFACE_API_KEY=your-huggingface-key-here

# Yarn TTS Service URL
NEXT_PUBLIC_YARN_TTS_SERVICE_URL=http://localhost:8000